*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body{
    width: 100vw;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

ul li{
    display: inline;
    margin-left: 10px;
    padding-right: 10px;
}

.menu{
    display: flex;
    justify-content: space-between;
}


.menu_lista{
    display: flex;
    align-items: center;
} 

.menu .menu_lista .menu_lista_option{
    width: 35px;
    height: 35px;
}

.menu1 ul, 
.menu2 ul,
.pie ul{
    list-style: none;
}

.menu .menu_lista .menu_lista_avatar{
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 190px;
}

.logo .logo_img{
    width: 272px;
    height: auto;
}

.buscador_barra{
    width: 582px;
    height: 44px;
    padding: 10px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.buscador_barra:hover{
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

.buscador_barra input{
    width: 550px;
    margin: 0 10px;
    border: none;
    outline: none;
}

.buscador_barra img{
    width: 24px;
}

.buscador_botones{
    margin-top: 20px;
    text-align: center;
 
}

.buscador .buscador_botones button{
    border: none;
    outline: none;
    padding: 14px;
    background-color: #f2f2f2;
}

footer{
    width: 100%;
    background-color: #f2f2f2;
    padding: 0 20px;
    position: fixed;
    bottom: 0;
    
}

.idioma{
    width: 100%;
    border-bottom: 1px solid #d6d6d6;
    padding-top: 5px;
}

.idiomas a{
    text-decoration: none;
}

.pie{
    display: flex;
    justify-content: space-between;
}

.pie .pie_emision{
    width: 12.3px;
}

.pie .pie_column1{
    margin-right: 10px;
}

